image: registry.git.rwth-aachen.de/ths/smt/smtrat/ci:latest

#It is tried to download a carl-branch with the same name. 
#If it does not exist, the newest version of the carl-development branch is pulled
#Change the SMTRAT_STRATEGY to what is needed in your own branch!

#Different cache for each job and branch -> first pipeline in a new branch can take a long time
cache: 
  key: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
  paths:
    - build/resources/
  policy: pull-push

variables:
  COMPILE_JOBS: 6
  SMTRAT_STRATEGY: "Default" #Change to your need!


stages:
  - build-gcc
  - build-clang
  - test 
  - documentation


build-gcc12:
  stage: build-gcc
  script:
     - export CC=/usr/bin/gcc-12 && export CXX=/usr/bin/g++-12
     - TASK=getCarl BRANCH_NAME=${CI_COMMIT_BRANCH} JOB_NAME=${CI_JOB_NAME} TOKEN=${CARL_READONLY_TOKEN} STRATEGY=${SMTRAT_STRATEGY} source .ci/build.sh
     - TASK=parallel MAKE_PARALLEL=-j${COMPILE_JOBS} STRATEGY=${SMTRAT_STRATEGY} source .ci/build.sh
#  artifacts: 
#    name: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
#    paths: 
#      - build/
#      - cmake/
#      - src/
#    expire_in: 1 week

.build-gcc11:
  stage: build-gcc
  script:
     - export CC=/usr/bin/gcc-11 && export CXX=/usr/bin/g++-11
     - TASK=getCarl BRANCH_NAME=${CI_COMMIT_BRANCH} JOB_NAME=${CI_JOB_NAME} TOKEN=${CARL_READONLY_TOKEN} STRATEGY=${SMTRAT_STRATEGY} source .ci/build.sh
     - TASK=parallel MAKE_PARALLEL=-j${COMPILE_JOBS} STRATEGY=${SMTRAT_STRATEGY} source .ci/build.sh
  only:
     - development

build-clang14:
  stage: build-clang
  script:
     - export CC=/usr/bin/clang-14 && export CXX=/usr/bin/clang++-14
     - TASK=getCarl BRANCH_NAME=${CI_COMMIT_BRANCH} JOB_NAME=${CI_JOB_NAME} TOKEN=${CARL_READONLY_TOKEN} STRATEGY=${SMTRAT_STRATEGY} source .ci/build.sh
     - TASK=parallel MAKE_PARALLEL=-j${COMPILE_JOBS} STRATEGY=${SMTRAT_STRATEGY} source .ci/build.sh
#  artifacts: 
#    name: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
#    paths: 
#      - build/
#      - cmake/
#      - src/
#    expire_in: 1 week

.build-clang13:
  stage: build-clang
  script:
     - export CC=/usr/bin/clang-13 && export CXX=/usr/bin/clang++-13
     - TASK=getCarl BRANCH_NAME=${CI_COMMIT_BRANCH} JOB_NAME=${CI_JOB_NAME} TOKEN=${CARL_READONLY_TOKEN} STRATEGY=${SMTRAT_STRATEGY} source .ci/build.sh
     - TASK=parallel MAKE_PARALLEL=-j${COMPILE_JOBS} STRATEGY=${SMTRAT_STRATEGY} source .ci/build.sh
  only:
     - development

.test-clang: 
  dependencies: [build-clang14]
  stage: test
  script: 
    - cd build && make test

test-gcc: 
  dependencies: [build-gcc12]
  stage: test
  script: 
    - cd build && make test 

docs:
  stage: documentation
  cache: {}
  script:
    #- TASK=getCarl BRANCH_NAME=development JOB_NAME="build-gcc12" TOKEN=${CARL_READONLY_TOKEN} STRATEGY=${SMTRAT_STRATEGY} source .ci/build.sh #get carl for doxygen dependency
    - MAKE_PARALLEL=-j${COMPILE_JOBS} STRATEGY=${SMTRAT_STRATEGY} TASK=documentation source .ci/build.sh
  only:
    - master
