*.swp
*~
**/config.h
**/config.txt
**/compile_information.cpp
/build/
/cmake-build-debug/
/.idea/
.vscode
/nbproject/
/src/smtrat-modules/NewCADModule/NewCADSettings.h
CMakeCache.txt
CMakeFiles/cmake.check_cache
**.pyc
src/smtrat-modules/null.cpp
